.searchWrapper {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchInput {
  width: 66.666%;
}

.searchInput input {
  color: var(--text-primary);
  background-color: var(--surface);
}

.searchInput svg {
  color: var(--text-secondary);
}

.searchInput :global(.MuiOutlinedInput-root) {
  background-color: var(--surface);
}